<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="exceptions" xsi:type="File"
        layout="${newline} ${newline} //////////////////////////////////////////////////////////////////////   [${date}]   ////////////////////////////////////////////////////////////////////// ${newline} ${newline} ${newline} ${logger} ------- ${message}${exception:format=ToString}"
        fileName="D:\C# PROJEKTY\ASP.NET CORE - REST API\GYM AND YOU - REST API PROJECT\REST-API-ASP-.NET-CORE-PROJECT---GYM-AND-YOU\REST-API-ASP-.NET-CORE-PROJECT---GYM-AND-YOU\logs\Enocuntered_Exceptions.txt"
        keepFileOpen="true"
        encoding="utf-8" />
    <target name="Info" xsi:type="File"
        layout="${date}|${level:uppercase=true}|${logger}|${message:withexception=true} ${newline}  ${newline} ////////////////////////////////////////////////////// ${newline}"
        fileName="D:\C# PROJEKTY\ASP.NET CORE - REST API\GYM AND YOU - REST API PROJECT\REST-API-ASP-.NET-CORE-PROJECT---GYM-AND-YOU\REST-API-ASP-.NET-CORE-PROJECT---GYM-AND-YOU\logs\Info_logs.txt"
        keepFileOpen="true"
        encoding="utf-8" />
  </targets>


  <rules>
    <logger name="*" minlevel="Error" writeTo="exceptions" />
    <logger name="*" minlevel="Info" writeTo="Info" />
  </rules>
</nlog>